.img{
    display: flex;
    justify-content: center;
    align-items: center;
  
  
}
.sample-img{
    width: 20%;
    height: 20%;
}
.main-imageview{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.circle-image{
border-radius: 50%;
}
.circle-image{
    border-radius: 50%;
    border: 2px;
    border-color: black;
    background: bisque;
}
.reactangle-image{
border-radius: 20%;
background: violet;
}
